* {
margin: 0;
padding: 0;
box-sizing: border-box;
}



body {
font-family: Georgia, 'Times New Roman', Times, serif;
background-image: linear-gradient(to right, #5289ff, #00aeff);
text-align: center;
}

.alerta {
    color: red;
}